@{
    Layout = "/Views/_HomepageLayout.cshtml";
    var query = Context.Request.Query["distribuitorId"];
}
<h1>Products</h1>
<form asp-controller="Manufacturer" asp-action="ImportFileProducts" asp-route-distribuitorId="@query" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
    <p id="successMessage">@ViewBag.Message</p>
</form>
@*<button class="btn btn-info btnCategoriesNextCategories" id="btnCategoriesNext">Next - Import Products</button>*@
